<div style="display: flex; width: 100%;">
  <div style="width: 250px" tabindex="0" >
    <input [formControl]="inputControl" (focus)="inputFocus.set(true)" (blur)="onBlurInput($event)" style="width: 100%">
    @if (inputFocus()) {
      <div #autocompleteArea class="autocomplete">
        @for (country of filteredCountries(); track country) {
          <div tabindex="0" class="autocomplete-option" (click)="onClickAutocompleteOption(country.name.common)">
            <span>{{country.name.common}}</span>
          </div>
        }
      </div>
    }
  </div>
  <select [formControl]="selectControl" style="width: 20%">
    <option>{{ noSelectedCurrency }}</option>
    @for (currency of currenciesKeys(); track currency) {
      <option [value]="currency">{{currenciesMap.get(currency)?.name}} {{currenciesMap.get(currency)?.symbol}}</option>
    }
  </select>
</div>
